/* loin ui start */


.uy{
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  
  height: 100vh;
  opacity: 0.8;

}
.po{
  font-size: 20px;
  padding-top: 40px !important;
}


.ff{
  width: 90px;
  align-items: center;
  background-color: rgb(11, 193, 248);
  color: black;
  opacity: 0.7;
}
.ju{
  box-shadow: rgb(239, 245, 246) 3px 3px 30px 3px;
  
  border-radius: 10px;
  border-color: rgb(2, 43, 63);
  background-color: rgb(255, 255, 255);
  
}
.f{
  padding-top: 10px;
}




/* loin ui end */